<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - James Moon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JamesMoonPortfolioRedux.styles.css" asp-append-version="true" />
</head>
<body>
    <main style="height:100%;width:100%;" role="main">
        @RenderBody()
    </main>

    <button class="open-button" onclick="openForm()"><img class="open-button" src="img/expert.png" alt="Talk to an Expert" /></button>
    <div class="chat-popup" id="popupBox" style="display: block">
        <iframe src="chatbot/chat.html"></iframe>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/chatbot/js/rivescript.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>