html, body {
    height: 100%;
    width: 100%;
    margin-bottom: 60px;
    overflow: hidden;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:white;
}

#myVideo {
    position:center;
    min-width: 100%;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.titletext {
    top: 0;
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .titletext p {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 0.8rem;
        transform: translate(-50%, -50%);
    }

.arrow {
    z-index: 1;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position:absolute;
}
