@{
    ViewData["Title"] = "James Moon's Profile";
}
<div class="home">
    <video autoplay muted loop id="myVideo">
        <source src="~/img/animation.mp4" type="video/mp4" />
    </video>
    <div class="titletext">
        <p>
            Welcome to James Moon's Portfolio
        </p>
    </div>
    <div class="leftButton">
        <p class="arrow left text">About Me</p>
        <i class="arrow left"></i>
    </div>
    <div class="rightButton">
        <p class="arrow right text">Contact Me</p>
        <i class="arrow right"></i>
    </div>
    <div class="bottomButton">
        <p class="arrow bottom text">My Projects</p>
        <i class="arrow bottom"></i>
    </div>
</div>

<div class="rightPage">
    <div class="contentbox">
        <p>
            Contact Me
        </p>
    </div>
    <div class="leftButton">
        <i class="arrow left"></i>
    </div>
</div>

<div class="leftPage">
    <div class="contentbox">
        <p>
            About Me
        </p>
    </div>
    <div class="rightButton">
        <i class="arrow right"></i>
    </div>
</div>

<div class="bottomPage">
    <div class="contentbox">
        <p>
            My Projects
        </p>
    </div>
    <div class="topButton">
        <i class="arrow top"></i>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        //console.log(ViewBag.CommentID + ", " + ViewBag.CommentAuthor + ", " + ViewBag.CommentString + ", " + ViewBag.CommentDate);

        let active = '';
        $('.rightButton').click(function () {
            $('.home').toggleClass('homeVisibility');
            if (active == '') {
                active = 'right';
                $('.rightPage').toggleClass('activeRight');
            }
            else if (active == 'left') {
                active = '';
                $('.leftPage').toggleClass('activeLeft');
            }
            //console.log(active);
        });
        $('.leftButton').click(function () {
            $('.home').toggleClass('homeVisibility');
            if (active == '') {
                active = 'left';
                $('.leftPage').toggleClass('activeLeft');
            }
            else if (active == 'right') {
                active = '';
                $('.rightPage').toggleClass('activeRight');
            }
            //console.log(active);
        });
        $('.bottomButton').click(function () {
            $('.home').toggleClass('homeVisibility');
            if (active == '') {
                active = 'bottom';
                $('.bottomPage').toggleClass('activeBottom');
            }
            else if (active == 'top') {
                active = '';
                $('.topPage').toggleClass('activetop');
            }
            //console.log(active);
        });
        $('.topButton').click(function () {
            $('.home').toggleClass('homeVisibility');
            if (active == '') {
                active = 'top';
                $('.topPage').toggleClass('activeTop');
            }
            else if (active == 'bottom') {
                active = '';
                $('.bottomPage').toggleClass('activeBottom');
            }
            //console.log(active);
        });
    </script>
}