@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<video autoplay muted loop id="myVideo">
    <source src="~/img/animation.mp4" type="video/mp4" />
</video>
<div class="titletext">
    <p>
        Welcome
    </p>
</div>
<i class="arrow left"></i>
