@{
    ViewData["Title"] = "James Moon's Profile";
}
<div class="home" id="home">
    <div id="test" class="adminpanel" hidden>
        <input type="button" value="Pop Titles" name="PopTitles" onclick="PopTitles()" title="This is mostly for design testing. Its hard centering text that constantly dissappears off the screen." />
        <input type="button" value="Test Modal" name="TestModal" onclick="OpenModal()" title="Test the modal window for larger project" data-bs-toggle="modal" data-bs-target="#TestModal" />
    </div>
    <video autoplay muted loop id="myVideo">
        <source src="~/img/animation.mp4" type="video/mp4" />
    </video>
    <div class="titletext">
        <p>
            Welcome to James Moon's Portfolio
        </p>
    </div>
    <p class="navtext navtext-right" id="navtext-right">Contact Me</p>
    <p class="navtext navtext-left" id="navtext-left">About Me</p>
    <p class="navtext navtext-bottom" id="navtext-bottom">My Projects</p>
    <div class="leftButton justify-content-between" id="leftbutton">
        <i class="arrow arrow-left" id="leftarrow"></i>
    </div>
    <div class="rightButton justify-content-between" id="rightbutton">
        <i class="arrow arrow-right" id="rightarrow"></i>
    </div>
    <div class="bottomButton justify-content-between" id="bottombutton">
        <i class="arrow arrow-bottom" id="bottomarrow"></i>
    </div>
</div>

<div class="rightPage">
    <div class="contentbox d-flex justify-content-between">
        <div class="leftcontent">
            <h1 class="contenttitle display-4 text-center">
                Contact Me
            </h1>
            <p class="contenttext">I can be reached through a number of areas including LinkedIn, Email and Github. Should you seek more information regarding my current work, a project or a fault on the website, you can use any of the following contact methods:</p>
            <div class="contactsplit" id="splitintwain">
                <div class="contactsplitcell">
                    <a href="https://linkedin.com/in/jamesmoonit/"><img src="~/img/linkedin.png" alt="me1" class="img-fluid" /></a>
                    <p class="contenttext">This is the best way of getting in contact. I will usually reply within 24 hour.</p>
                </div>
                <div class="contactsplitcell">
                    <a href="https://github.com/JamesMoonIT"><img src="~/img/GitHub-Mark.png" alt="me3" class="img-fluid" /></a>
                    <p class="contenttext">If you have any concerns with the website or would like to collaborate on a project, you can find my Github here.</p>
                </div>
                <div class="contactsplitcell">
                    <a href="mailto:jamesmoon1221@gmail.com"><img src="~/img/email.png" alt="me3" class="img-fluid" /></a>
                    <p class="contenttext">This is another good means of sharing details. I check this everyday, and this also helps if you have documents to share.</p>
                </div>


            </div>
            <p class="contenttext">For security purposes, I will not be disclosing my phone number, work email or company phone as a means of getting in contact as it would be a security risk to myself and the company I currently work for. Please understand that it is not a risk I would like to make, but if you truly are interested in learning together, you can ask for a private means of contact through LinkedIn.</p>
        </div>
        <div class="comments">
            <p>Feel free to leave a comment with your thoughts on my profile. Please do not leave any personal details here as it is open to the public.</p>
            <div class="entercomment justify-content-end" id="entercomment">
                <div class="commentAuthor">
                    <label for="author">Author</label>
                    <input type="text" maxlength="25" id="author" />
                </div>
                <div class="commentString">
                    <label for="comment">Your Comment</label>
                    <input type="text" maxlength="500" id="comment" />
                </div>
                <div class="submitrow">
                    <div class="subrow">
                        <input type="button" id="submitComment" title="Send" value="Send" />
                        <p id="submitting" hidden>Submitting...</p>
                    </div>
                    <div class="subrow">
                        <p id="loading">Loading API...</p>
                        <img id="toggleimage" src="~/img/mark.png" alt="apistatus" class="apistatus" title="The API is either still loading or returning an error." width="50px" height="auto" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="allcomments justify-content-end" id="allcomments">
            </div>
        </div>
    </div>
    <div class="leftButton justify-content-between" id="leftbutton">
        <i class="arrow arrow-left" id="leftarrow"></i>
    </div>
</div>

<div class="leftPage">
    <div class="contentbox">
        <h1 class="contenttitle display-4 text-center">
            About Me
        </h1>
        <p class="contenttext">My name is James Moon, I am a Web developer with experience with a vast variety of programming and design languages skills. I am a passionate designer of webpages and applications, and practice animation and film editing on the side. I enjoy the occasianal game and have made a few myself. One of my other passions is discovering and reviving old technology, including Desktops, applications, handhelds, consoles and servers. I'm a fan of emulation and combining the software and hardware side of development is what I am passionate about.</p>
        <p class="contenttext">In terms of who I really am as a person, I come from a small area called Giants Creek, 2 hours north-west of Newcastle on a farm. Learning technology was very restricted where I was from due to lack of teaching knowledge (The main focus was Agriculture and Industrial Trade). University opened my mind to different styles never imagined and I continue to self-teach to this day.</p>
        <div class="aboutsplit" id="splitintwain">
            <p class="aboutsplitcell contenttext">Feel free to grab any details from my "Contact Me" page located to the right of the home page. Check out some of my work on the page below home. </p><br /><p class="contenttext">If you would like an indepth idea of my skill set and technical knowledge, as well as more about my experiences, feel free to look over my CV attached here: <a href="https://romulex.com/cv">romulex.com/cv</a></p>
            <div class="aboutsplitcell">
                @*<img src="~/img/me1.png" alt="me1" class="aboutimages img-fluid" />
                <img src="~/img/me3.jpg" alt="me3" class="aboutimages img-fluid" />*@
                <img src="~/img/meall.png" alt="myself" class="aboutimages img-fluid" />
            </div>
        </div>
    </div>
    <div class="rightButton justify-content-between" id="rightbutton">
        <i class="arrow arrow-right" id="rightarrow"></i>
    </div>
</div>

<div class="bottomPage">
    <div class="contentboxlong">
        <h1 class="contenttitle display-4 text-center">
            My Projects
        </h1>
        <p class="contenttext">I have to be clear. Most of my projects are protected under university or work guidelines, but the ones I can show here are freely developed by James as "personal projects". Here is a list of just some of them:</p>
        <div class="projects">
            <div class="project">
                <div class="leftproject">
                    <h1>How-To Houdini</h1>
                    <p>How-To Houdini started as a university project that I later cleaned up and polished to be an informative website for people just starting to use the 3D progressive animation software Houdini. The website featured videos and a simple chatbot that could be of assistance to the user on the site. I am in the process of setting up a virtual server of my own to host it on. Until then, it is currently offline.</p>
                    <p><u>Skills used:</u> HTML, CSS, Javascript, Rivescript, Premiere Pro, Photoshop, Houdini</p>
                </div>
                <div class="rightproject">
                    <img class="projectimage" src="~/img/howtohoudini.PNG" alt="HowToHoudiniHomepage" />
                </div>
            </div>
            <div class="project">
                <div class="leftproject">
                    <h1>"Complexica" Animation</h1>
                    <p>The hurdles of learning Houdini was the making of this animation. All models and characters were built and animated by myself in Houdini. The short featured a small robot called Harry exploring the ruins of abandoned earth in the future and finds interesting artifacts and long forgotten technologies. Part of this scene is shown in the background of the website.</p>
                    <p><u>Skills used:</u> Houdini, Premiere Pro, Photoshop</p>
                </div>
                <div class="rightproject">
                    <img class="projectimage" src="~/img/complexica.png" alt="Complexica" />
                </div>
            </div>
            <div class="project">
                <div class="leftproject">
                    <h1>"The Request" 2D Platformer Game</h1>
                    <p>I created The Request while at university using the Unity Engine. The engine is based on C# and the assets for the game were made by myself in Pixel Studio. The Request follows a mage sent to find the missing wizards after his kingdom falls to corruption. The game features platforming puzzles, enemies and a boss fight. The intent is to extend the game, but due to work and other projects, it is on hold. It is playable through itch.io <a href="https://romulex.itch.io/the-request">here</a>.</p>
                    <p><u>Skills used:</u> C#, Unity, Photoshop</p>
                </div>
                <div class="rightproject">
                    <img class="projectimage" src="~/img/request.png" alt="Complexica" />
                </div>
            </div>
            <div class="project">
                <div class="leftproject">
                    <h1>Projects in the works:</h1>
                    <p>3 internal work projects....</p>
                    <p>1 personal social platform project (React.js)....</p>
                    <p>1 personal GPT-based project (C# .NET Core, OpenAI ChatGPT)...</p>
                </div>
            </div>
            <div class="project">
                <p class="absolutecenter">More to come in the future....</p>
            </div>
        </div>
    </div>
    <div class="topButton justify-content-between" id="topbutton">
        <i class="arrow arrow-top" id="toparrow"></i>
    </div>
    <div class="spacer">
        <p class="shadowdemon">You ever heard of the Konami code?</p>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="TestModal" tabindex="-1" aria-labelledby="Test Modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="textBlack">This is purely for testing Bootstrap and javascript. I usually leave things like this in incase I need to reference it later when I need it (future project, offline help).</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

@section scripts {
    <script type="text/javascript">
        //console.log(ViewBag.CommentID + ", " + ViewBag.CommentAuthor + ", " + ViewBag.CommentString + ", " + ViewBag.CommentDate);

        $(document).ready(function () {
            window.scrollTo(0, 0);
            GetComments();
        });

        document.getElementById("submitComment").onclick = function () {
            $("#submitting").prop('hidden', null);
            $('#submitComment').prop('disabled', true);
            var author = document.getElementById("author").value;
            var comment = document.getElementById("comment").value;
            $.ajax({
                url: '@Url.Action("StoreComment", "Home")',
                data: { 'author': author, 'comment': comment },
                success: function (data) {
                    GetComments();
                    $('#author').val('');
                    $('#comment').val('');
                    $('#submitComment').prop('disabled', false);
                    $("#submitting").prop('hidden', 'hidden');
                },
                error: function (request, status, error) {
                    alert(request.responseText.split("\n")[0]);
                    $('#submitComment').prop('disabled', false);
                    $("#submitting").prop('hidden', 'hidden');
                }
            });
        };

        function GetComments() {
            const toggleimage = document.getElementById('toggleimage');
            $.ajax({
                url: '@Url.Action("GetComments", "Home")',
                success: function (data) {
                    var allComments = "";
                    for (let i = data.length - 1; i > -1; i--) {
                        var comment = data[i];
                        if (comment["commentID"] == 999) {
                            allComments = "<p class='backup'><i>If your reading this, it means the API has failed to retrieve the comments and is using a backup method to retrieve comments. These may be outdated as these are added manually by James.</i></p>";
                            toggleimage.src = "/img/cross.png";
                            toggleimage.title = "The API is currently down. A backup method is being used until it API is back online";
                        }
                        else {
                            toggleimage.src = "/img/tick.png"
                            toggleimage.title = "The API is online.";
                        }
                        allComments += "<div class='comment'><div class='comment-meta'><span class='comment-author'>" + comment["commentAuthor"] + "</span><span class='comment-date'>" + comment["commentDate"] + "</span></div><div class='comment-text'><p'>" + comment["commentString"] + "</p></div></div>";
                    }
                    document.getElementById("allcomments").innerHTML = allComments;
                    $("#loading").prop('hidden', 'hidden');
                },
                error: function (request, status, error) {
                    alert(request.responseText.split("\n")[0]);
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            let active = '';
            $('.rightButton').click(function () {
                $('.home').toggleClass('homeVisibility');
                if (active == '') {
                    active = 'right';
                    $('.rightPage').toggleClass('activeRight');
                }
                else if (active == 'left') {
                    active = '';
                    $('.leftPage').toggleClass('activeLeft');
                }
                //console.log(active);
            });
            $('.leftButton').click(function () {
                $('.home').toggleClass('homeVisibility');
                if (active == '') {
                    active = 'left';
                    $('.leftPage').toggleClass('activeLeft');
                }
                else if (active == 'right') {
                    active = '';
                    $('.rightPage').toggleClass('activeRight');
                }
                //console.log(active);
            });
            $('.bottomButton').click(function () {
                $('.home').toggleClass('homeVisibility');
                if (active == '') {
                    active = 'bottom';
                    $('.bottomPage').toggleClass('activeBottom');
                    $('.bottomPage').toggleClass('scrollable');
                }
                else if (active == 'top') {
                    active = '';
                    $('.topPage').toggleClass('activetop');
                }
                //console.log(active);
            });
            $('.topButton').click(function () {
                $('.home').toggleClass('homeVisibility');
                if (active == '') {
                    active = 'top';
                    $('.topPage').toggleClass('activeTop');
                }
                else if (active == 'bottom') {
                    active = '';
                    $('.bottomPage').toggleClass('activeBottom');
                    $('.bottomPage').toggleClass('scrollable');
                }
                //console.log(active);
            });

            const leftButton = document.getElementById('leftbutton');
            const rightButton = document.getElementById('rightbutton');
            const bottomButton = document.getElementById('bottombutton');
            const leftArrow = document.getElementById('leftarrow');
            const rightArrow = document.getElementById('rightarrow');
            const bottomArrow = document.getElementById('bottomarrow');

            leftButton.addEventListener('mouseover', function handleMouseOver() {
                $('.navtext-left').toggleClass('activenavtext-left');
            });
            rightButton.addEventListener('mouseover', function handleMouseOver() {
                $('.navtext-right').toggleClass('activenavtext-right');
            });
            bottomButton.addEventListener('mouseover', function handleMouseOver() {
                $('.navtext-bottom').toggleClass('activenavtext-bottom');
            });

            leftButton.addEventListener('mouseout', function handleMouseOver() {
                $('.navtext-left').toggleClass('activenavtext-left');
            });
            rightButton.addEventListener('mouseout', function handleMouseOver() {
                $('.navtext-right').toggleClass('activenavtext-right');
            });
            bottomButton.addEventListener('mouseout', function handleMouseOver() {
                $('.navtext-bottom').toggleClass('activenavtext-bottom');
            });
        });

        function PopTitles() {
            $('.navtext-right').toggleClass('activenavtext-right');
            $('.navtext-bottom').toggleClass('activenavtext-bottom');
            $('.navtext-left').toggleClass('activenavtext-left');
        }

        document.addEventListener('touchmove', function (event) {
            event.preventDefault();
        }, { passive: false });
    </script>
}